.fx-boo-enter-from,
.fx-boo-leave-to {
  opacity: 0;
  transform: scale(0);
}

.fx-boo-enter-to,
.fx-boo-leave-from {
  opacity: 1;
}

.fx-boo-enter-active,
.fx-boo-leave-active {
  transition: all 0.3s ease;
}

