@use 'inc/vars' as *;
@use 'inc/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import 'inc/transitions';

html {
  font-size: 16px;
  font-family: Cuprum, sans-serif;

  @include media($MQ_SM $MQ_MD) {
    @include responsive-type(16px, 18px, $MQ_SM, $MQ_MD);
  }

  @include media($MQ_MD $MQ_LG) {
    @include responsive-type(15px, 20px, $MQ_MD, $MQ_LG);
  }

  @include media($MQ_LG $MQ_XL) {
    @include responsive-type(15px, 20px, $MQ_LG, $MQ_XL);
  }

  @include media($MQ_XL $MQ_2XL) {
    @include responsive-type(16px, 18px, $MQ_XL, $MQ_2XL);
  }

  @include media($MQ_2XL, min) {
    font-size: 18px;
  }
}

html,
body,
#__nuxt {
  @apply h-full;
}

#__nuxt {
  @apply flex flex-col;
}

a {
  @apply hover:text-lime-400 transition-colors;
}

input,
textarea,
button {
  @apply focus:outline-none;
}
